/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.column_one {
  float:left;
}

.column_two {
  float:left;

}

.column_three{
  float: left;
}

.row-2{
  height:550px;
}

#archive{
  margin-bottom: 10px;
  margin-left: 18px;
  margin-top: 0;
  width: 32%;
}
